<div class="card-feed-container">
  <div class="card-feed">
    <div class="card-feed-box">
      <div class="row">
        <div class="col-11">
          <div class="w-100">
            <a [href]="urlPublicacao" class="card-feed-titulo font-titulos cursor-pointer"
              [ngClass]="{ 'skeleton-default': !textoCarregado }">
              {{ publicacao?.titulo }}
            </a>
          </div>
        </div>
        <div class="col-1" [ngClass]="{ hidden: !textoCarregado }">
          <div class="flex-shrink-1">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card-feed-busca col-11">
          <div class="texto font-texto" [ngClass]="{ 'skeleton-default': !textoCarregado }"
            [innerHTML]="publicacao?.preVisualizacao.texto "></div>
        </div>
      </div>
      <div class="row card-feed-descricao">
        <div class="card-feed-data-hora font-texto-light" [ngClass]="{
            'skeleton-default': !textoCarregado
          }">
          {{ descricaoTipo ? descricaoTipo + ' - ' : '' }} Publicado por
          {{ perfilUnidade?.nomeReduzidoUOR || perfilUnidade?.siglaUOR || perfilUnidade?.nomeUOR }}
          em {{ publicacao?.dataHoraPublicacao }}
        </div>
      </div>
    </div>
  </div>
</div>